name: CI build

on:
  push:
  pull_request:
  release:
    types:
      - created

jobs:
  build_msvc:
    name: "Windows MSVC: ${{ matrix.toolset }} ${{ matrix.msvc_arch }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - toolset: v141
            os: windows-2019
            msvc_arch: x64

          - toolset: v142
            os: windows-latest
            msvc_arch: x64

          - toolset: v143
            os: windows-latest
            msvc_arch: x64

          - toolset: v143
            os: windows-latest
            msvc_arch: x64

          - toolset: v143
            os: windows-latest
            msvc_arch: Win32

          - toolset: v143
            os: windows-latest
            msvc_arch: arm64

    steps:
      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow
      - name: Static build
        run: |
          cmake -S . -B build/static  -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=0 -A "${{ matrix.msvc_arch }}" -T "${{ matrix.toolset }}"
          cmake --build build/static --config Release
      - name: Shared build
        run: |
          cmake -S . -B build/shared  -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=1 -A "${{ matrix.msvc_arch }}" -T "${{ matrix.toolset }}"
          cmake --build build/shared --config Release

  build_unix:
    name: "${{ matrix.name }} ${{ matrix.compiler[1] }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: "Ubuntu 22.04"
            os: ubuntu-22.04
            compiler: [gcc-11, g++-11]

          - name: "Ubuntu 22.04"
            os: ubuntu-22.04
            compiler: [gcc-12, g++-12]

          - name: "Ubuntu 24.04"
            os: ubuntu-24.04
            compiler: [gcc-13, g++-13]

          - name: "Ubuntu 24.04"
            os: ubuntu-24.04
            compiler: [gcc-14, g++-14]


          - name: "Ubuntu 22.04"
            os: ubuntu-22.04
            compiler: [clang-13, clang++-13]

          - name: "Ubuntu 22.04"
            os: ubuntu-22.04
            compiler: [clang-14, clang++-14]

          - name: "Ubuntu 22.04"
            os: ubuntu-22.04
            compiler: [clang-15, clang++-15]

          - name: "Ubuntu 24.04"
            os: ubuntu-24.04
            compiler: [clang-16, clang++-16]

          - name: "Ubuntu 24.04"
            os: ubuntu-24.04
            compiler: [clang-16, clang++-16]

          - name: "Ubuntu 24.04"
            os: ubuntu-24.04
            compiler: [clang-17, clang++-17]

          - name: "Ubuntu 24.04"
            os: ubuntu-24.04
            compiler: [clang-18, clang++-18]

#          - name: "Ubuntu 24.04"
#            os: ubuntu-24.04
#            compiler: [clang-19, clang++-19]


          - name: "Windows MinGW"
            os: windows-latest
            generator: "MinGW Makefiles"


          - name: "Mac OS Latest x86_64"
            os: macos-latest
            osx_arch: x86_64

          - name: "Mac OS Latest arm64"
            os: macos-latest
            osx_arch: arm64

    env:
      CMAKE_GENERATOR: ${{ matrix.generator }}
      CC: ${{ matrix.compiler[0] }}
      CXX: ${{ matrix.compiler[1] }}
    steps:
      - uses: actions/checkout@v4
      - run: git fetch --prune --unshallow
      - name: Static build
        run: |
          cmake -S . -B build/static -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=0 "-DCMAKE_OSX_ARCHITECTURES=${{ matrix.osx_arch }}"
          cmake --build build/static
      - name: Shared build
        run: |
          cmake -S . -B build/shared -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=1 "-DCMAKE_OSX_ARCHITECTURES=${{ matrix.osx_arch }}"
          cmake --build build/shared
